
main{
    display: flex;
    justify-content: center;
}

.content-default{
    text-align: center;
    width: 75%;
}


.content-conta{
    background-color: aliceblue;
    color: black;
    padding: 10px;
    border-radius: 10px;
    margin: 0 15px;
    width: 200px;
}

.conta-data{
    display: flex;
    align-content: center;
    margin: 20px;
    justify-content: center;
}

.user-greeting{
    width: 100%;
    display: grid;
    justify-content: flex-start;
    text-align: left;
}

#function-content{
    margin: 15px;
}

.greeting-container{
    display: flex;
}

.btn-user-service{
    margin: 10px;
    margin-top: 20px;
    height: 50px;
    width: 50px;
    border: 0;
    border-radius: 100%;
    background-color: aliceblue;
    cursor: pointer;
    box-shadow: 7px 11px 18px -1px #da76fc;
    &:hover{
        background-color:lawngreen;
        transition: 1s;
    }
    &:focus{
        outline: none;
    }
}

aside{
    position:absolute;
    width: 10%;
    display: grid;
    left: 0%;
    height: 70vh;
    background-color: rgb(46, 221, 30);
    border-radius: 25px;
    justify-content:center;
    align-items: center;
    margin-left: 10px;
    button{
        height: 5em;
        background-color: aliceblue;
        color: black;
        border-radius: 10px;
        width: 100%;
        border: 0;
        box-shadow: 7px 11px 18px -1px #7ef788;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        cursor: pointer;
        &:hover{
            background-color: lawngreen;
            transition: 1s;
        }
        &:focus{
            outline: none;
        }
        i{
            margin: 0;
            padding: 10px 0;
            font-size: 1.4em;
        }
    }
}

.dashboard-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation-name: createForm;
    animation-duration: 1.5s;
    
    input{
        background-color: aliceblue;
        width: 80%;
        border: 0;
        height: 50px;
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 10px;
        text-align: end;
        &:focus{
            outline: none;
        }
    }
    select{
        width: 80%;
        height: 50px;
        border: 0;
        background-color: aliceblue;
        margin-bottom: 10px;
        padding: 10px 25px 10px 10px;
        border-radius: 10px;

        &:focus{
            outline: none;
        }
    }
    button{
        border: 0;
        width: 60%;
        height: 50px;
        border-radius: 25px;
        padding: 10px;
        background-color: aliceblue;
        cursor: pointer;
        &:hover{
            background-color: lawngreen;
            transition: 1s;
        }
        &:focus{
            outline: none;
        }
    }
}

.feedback-card{
    i{
        font-size: 2em;
    }
}

.planos-conta-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: initial;
}

.plano-conta-card{
    color: black;
    background-color: aliceblue;
    border: 0;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    width: 250px;
}



.scale-up-ver-top {
	-webkit-animation: scale-up-ver-top 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-ver-top 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.flip-in-hor-bottom {
	-webkit-animation: flip-in-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: flip-in-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-2-15 3:37:44
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-ver-top
 * ----------------------------------------
 */
 @-webkit-keyframes scale-up-ver-top {
    0% {
      -webkit-transform: scaleY(0.2);
              transform: scaleY(0.2);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
    }
  }
  @keyframes scale-up-ver-top {
    0% {
      -webkit-transform: scaleY(0.2);
              transform: scaleY(0.2);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
    }
  }

  /* ----------------------------------------------
 * Generated by Animista on 2021-2-15 16:50:56
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-in-hor-bottom
 * ----------------------------------------
 */
@-webkit-keyframes flip-in-hor-bottom {
    0% {
      -webkit-transform: rotateX(80deg);
              transform: rotateX(80deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
      opacity: 1;
    }
  }
  @keyframes flip-in-hor-bottom {
    0% {
      -webkit-transform: rotateX(80deg);
              transform: rotateX(80deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
      opacity: 1;
    }
  }
  
  