/* Aqui com scsss */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: #943fb1;
  color: #fff;
  font-size: 1.6rem;

  & > * {
    margin: 2rem 0;
  }
}

.header {
  h1 {
    font-size: 3.5rem;
  }
}

.example {
  display: flex;
  justify-content: center;

  &-style,
  &-lazy-load {
    margin: 3rem 2rem;
  }
}

.from-scss {
  color: #0096FF;
}

.link {
  color: #61dafb;
  font-size: 2rem;
  margin-top: 3rem;
}

#lazy-load {
  padding: 1rem 1.5rem;
  border: 0;
  border-radius: 10rem;
  outline: none;
}
