/* Aqui com scsss */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import './dashboard';
@import './home';
@import './nav.scss';
@import './footer.scss';

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: #943fb1;
  color: #fff;
  font-size: 1.6rem;

  & > * {
    margin: 2rem 0;
  }
}



