@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root{
    --bg-main-color: #8C52E5, 100%;
}

body, html{
    margin: 0, auto;
    height: 100%;
    width: 100%;
    padding: 0;
    background-color: #8C52E5;
}

.default-container{
    text-align: center;
}

.landing-page1{
    background-color: var(--bg-main-color);
}




